<connectionStrings>
  <!-- this connection string is used by the application as the default connection during security-->
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20200108084636.mdf;Initial Catalog=aspnet-WebApp-20200108084636;Integrated Security=True"
  providerName="System.Data.SqlClient" />
  <!-- this connection string will be used by the Context class for database access-->
  <add name="ChinookDB"
        connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
        providerName="System.Data.SqlClient"/>

  
</connectionStrings>
